.create-new-password-page {
    display: flex;
    position: relative;
    width: 1920px;
    height: 1080px;
    background-color: #121212;
}

.create-new-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 705px;
    height: 880px;
    position: absolute;
    top: 100px;
    left: 100px;
    border-radius: 8px;
    background-color: #1b1b1b;
}

.create-new-password-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 415px;
    height: 457px;
    position: absolute;
    top: 100px;
    gap: 12px;
}

.create-new-password-avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #504f4f;
    margin-bottom: 12px;
}

.create-new-password-title {
    font-family: 'Aprila', sans-serif;
    font-style: bold;
    font-size: 52px;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 50px;
    width: 625px;
}

.create-new-password-form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 415px;
    margin-top: 50px;
}

.create-new-password-form {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.create-new-password-footer-text {
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.4;
    margin-top: 24px;
    height: 17px;
    margin-bottom: 0px;
    font-style: "regular";
}

.create-new-password-bg-image {
    position: absolute;
    left: 825px;
    top: 100px;
}

.create-new-password-bg-image img {
    width: 995px;
    height: 880px;
    border-radius: 8px;
    object-fit: cover;
}